* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
/* <!-- --------------------NAV --------------------------- --> */

.nav-bar {
  background-color: #c12127;
  color: rgba(255, 255, 255, 0.8);
  padding: 15px 20px 0 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.nav-bar a {
  color: rgba(255, 255, 255, 0.8);
}
.top-links li {
  display: inline;
  margin-right: 20px;
}
/* <!-- --------------------HEADER --------------------------- --> */

.header-top {
  background-color: #20597a;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
header {
  background-image: url('../images/buildings-and-billboard.png');
  background-color: #33485f;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 500px;
}
.section-text {
  margin: 13%;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.search-logo {
  height: 40px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.search-logo,
.search-icon {
  height: 40px;
}
.search-login {
  padding: 0 5px;
}
.style-input {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  border-style: none;
  padding: 10px;
  padding-right: 10px;
}
.search-lupa {
  height: 25px;
}
.header-top-right {
  display: flex;
  align-items: center;
}
.header-top-right a {
  color: rgba(255, 255, 255, 0.8);
}
/* <!-- --------------------S. ORG --------------------------- --> */
.section-org {
  background-color: #1f597a;
  padding: 5%;
  display: flex;
}
.org-title {
  margin-bottom: 20px;
}
ul li {
  margin-bottom: 20px;
}
.section-org img {
  width: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.org-text {
  margin: 5%;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.section-npm img {
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.section-npm {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  background-color: #33485f;
  padding: 5%;
}
.npm-text {
  margin: 5%;
  padding-top: 10%;
  text-align: left;
}
/* <!-- --------------------S. ART --------------------------- --> */
.article-title {
  text-align: center;
  padding-top: 50px;
  font-size: 2em;
  font-weight: bold;
}
.article-top p {
  text-align: center;
  padding-top: 20px;
}
.article-body {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
article a {
  color: #c12127;
}
button {
  background-color: rgba(137, 43, 226, 0.699);
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.8);
}
